*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    height:100vh ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: skyblue;
}
.card {
    width: 200px;
    background-color: red ;
    border-radius: 15px;
    text-align: center;
}
